.cube {
    display: block;
    position: relative;
    height: 200px;
    width: 200px;

    transform-style: preserve-3d;
    transition: 500ms linear;
    transform: rotateY(0deg); 

    &.active {
        transform: rotateY(180deg);
    }
}

.front, .back {
	position: absolute;
	width: 100%;
	top: 50%;

	backface-visibility: hidden;
}

.front {
	z-index: 2;
	transform: translate(0, -50%);
}
.back {
	z-index: 1;
	transform: translate(0, -50%) rotateY(180deg);
}

.match-pairs {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;

	position: relative;
	perspective: 800px;

    .match-pairs-card {
		text-align: center;
        cursor: pointer;
		margin: 1rem;

		img {
			max-width: 100%;
			max-height: 100%;
		}

		&.active {
			.front {z-index: 1; }
			.back { z-index: 2; }
		}
    }
}
