
.match-pairs .match-pairs-board {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  perspective: 800px;
}
.match-pairs .match-pairs-blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(191, 191, 191, 0.7);
}
.match-pairs .match-pairs-card {
  text-align: center;
  cursor: pointer;
  margin: 1rem;
}
.match-pairs .match-pairs-card img {
    max-width: 200px;
    max-height: 200px;
}
.match-pairs .match-pairs-card.active .front {
    z-index: 1;
}
.match-pairs .match-pairs-card.active .back {
    z-index: 2;
}
.match-pairs .cube {
  display: block;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  transition: 500ms linear;
  transform: rotateY(0deg);
}
.match-pairs .cube.active {
    transform: rotateY(180deg);
}
.match-pairs .front, .match-pairs .back {
  position: absolute;
  width: 100%;
  top: 50%;
  backface-visibility: hidden;
}
.match-pairs .front {
  z-index: 2;
  transform: translate(0, -50%);
}
.match-pairs .back {
  z-index: 1;
  transform: translate(0, -50%) rotateY(180deg);
}
